body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
    margin: 40px;
}

.box {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    cursor: not-allowed;
}

.box.clickable {
    cursor: pointer;
    border: 2px solid #4aa3ff;
}

.box img {
    width: 100%;
    border-radius: 8px;
}

.watch-body {
    background: #0a1837;
}

.watch-container {
    display: flex;
    padding: 20px;
}

.video-area {
    flex: 3;
    margin-right: 20px;
    background: #000;
    border-radius: 12px;
    padding: 10px;
}

.episode-list {
    flex: 1;
    background: #12285f;
    padding: 20px;
    border-radius: 12px;
}

.episodes button {
    width: 60px;
    height: 40px;
    margin: 5px;
    background: #1c47a1;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.episodes button:hover {
    background: #3c6df2;
}
